@model IEnumerable<Movie>





@if (Model.Count() == 0)
{
    <p>Es befinden sich keine Filme im Videoshop</p>
}
else
{
    //Wir haben Datensatz, lasst uns eine Tabelle kreeieren 

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model=>model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.Description)
                </th>
                 <th>
                    @Html.DisplayNameFor(model=>model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.ReleaseYear)
                </th>
                <th>

                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (Movie item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                          @Html.DisplayFor(modelItem => item.ReleaseYear)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
}
